[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
merchant = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
